.venv/
__pycache__/
.pytest_cache/
.hypothesis/
/artifacts/
/logs/
allure-results/
allure-results-api/
allure-results-ui/
allure-report/
.idea/
.env
*.log
playwright/node_modules/
playwright/.cache/
playwright/test-results/
playwright/playwright-report/
playwright/blob-report/
